<div class="container py-5">
    <h1 class="mb-3">Especialidades</h1>
    <p>Nesta seção, é possível visualizar cadastrar, editar e remover as especialidades médicas oferecidas pela clínica.</p>
    <p>As especialidades cadastradas aqui são utilizadas em diversos pontos do sistema, como:</p>
    <ul>
        <li>Criação de operações médicas (consultas, exames etc.)</li>
        <li>Vinculação de médicos a áreas específicas de atuação</li>
        <li>Filtros de busca de médicos por tipo de atendimento</li>
    </ul>
    <p class="d-inline-flex">Para cadastrar uma nova especialidade, clique aqui:</p>
    <button (click)="modalCadastrarEspecialidade()" class="btn btn-primary col ms-2">Cadastrar</button>

    <div class="mt-5 flex-lg-row flex-column d-flex">
        <div class="col p-3">
            <div class="row align-items-center m-0 mb-4">
                <p class="col m-0 p-0">Lista de especialidades existentes: (selecione uma para poder editar ou excluir)
                </p>
                <div class="flex-row col-auto gx-2">
                    <button [disabled]="!especialidadeSelecionada"
                        (click)="modalEditarEspecialidade(especialidadeSelecionada)"
                        class="btn btn-warning me-2">Editar</button>
                    <button [disabled]="!especialidadeSelecionada"
                        (click)="excluirEspecialidade(especialidadeSelecionada)" class="btn btn-danger">Excluir</button>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <th>ID</th>
                        <th>Nome da especialidade</th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let especialidade of especialidades"
                            [ngClass]="especialidadeSelecionada == especialidade ? 'table-active' : ''"
                            (click)="selecionarEspecialidade(especialidade)">
                            <td>{{ especialidade.idEspecialidade }}</td>
                            <td>{{ especialidade.nomeEspecialidade }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="col p-3">
            <p>Consulte aqui uma especialidade por ID:</p>
            <mat-form-field class="w-100 mb-2">
                <mat-label>ID da especialidade</mat-label>
                <input matInput [(ngModel)]="idBusca" type="number" (keyup.enter)="buscarEspecialidadePorId()" />
                <mat-error>ID inválida</mat-error>
            </mat-form-field>
            <button class="btn btn-primary" (click)="buscarEspecialidadePorId()">Buscar</button>
            <div *ngIf="especialidadeBuscada" class="mt-4 flex-row d-flex rounded border p-3">
                <div class="col">
                    <p class="mb-1">ID da especialidade: {{ especialidadeBuscada.idEspecialidade }}</p>
                    <p class="m-0">Nome da especialidade: {{ especialidadeBuscada.nomeEspecialidade }}</p>
                </div>
                <div class="flex-row col-auto">
                    <button (click)="modalEditarEspecialidade(especialidadeBuscada)"
                        class="btn btn-warning me-2">Editar</button>
                    <button (click)="excluirEspecialidade(especialidadeBuscada)" class="btn btn-danger">Excluir</button>
                </div>
            </div>
        </div>
    </div>
</div>